Temp/
Packages/
Logs/
Library/
Assets/TutorialInfo
Assets/Plugins/
Assets/Scenes/
*.csproj
UserSettings/
obj/
*.user
*.sln
*.xml
Assets/TextMesh Pro/
*.3ds
Assets/Surface_TreeTopFix_Final_WithMountain.3ds.meta
Assets/Prafabs/
